---
import "./requestDeviceCard.css";
---

<section class="request-device-section">
  <img
    class="request-device-section__image request-device-section__image--tall"
    src="/images/request-device.svg"
  />
  <img
    class="request-device-section__image request-device-section__image--flat"
    src="/images/request-device-flat.svg"
  />
  <p class="request-device-section__desc">Can't find the device you want?</p>
  <a class="request-device-section__request-link" href="/request_device"
    ><button class="request-device-section__request-btn">
      Request your device
    </button></a
  >
</section>
