.landing-content {
  position: relative;
  padding: 0;
  margin: 0;
}
@media (min-width: 992px) {
  .landing-content {
    margin: 0 50px 0 0;
    padding-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .landing-content {
    margin: 0 100px 0 0;
    padding-bottom: 115px;
  }
}

.headline {
  padding: 20px 20px 0 20px;
}
@media (min-width: 992px) {
  .headline {
    margin: 0 0 0 55vw;
    padding: 50px 0 0 20px;
  }
}

.headline__title {
  margin: 0;
  font-family: "Red Hat Display", monospace;
  font-weight: 700;
  font-size: 36px;
}
@media (min-width: 992px) {
  .headline__title {
    font-size: 48px;
  }
}

.headline__desc {
  margin: 15px 0 0 0;
  font-size: 18px;
}
@media (min-width: 992px) {
  .headline__desc {
    margin: 30px 0 0 0;
    font-size: 24px;
  }
}

.search-device__container {
  margin: 24px 20px 0 20px;
  padding: 16px 20px;
  display: flex;
  height: 56px;
  background: var(--white);
  border: 1px solid var(--gray-5);
  box-sizing: border-box;
  border-radius: 9px;
  column-gap: 12px;
}

@media (min-width: 992px) {
  .search-device__container {
    margin: 32px 0 0 calc(55vw + 20px);
    padding: 16px 20px;
    max-width: 500px;
  }
}

.search-device__input {
  flex: 1 1 0%;
  border: none;
  outline: none;
  font-size: 18px;
  max-width: 90%;
  min-width: 0;
}

.search-device__input::placeholder {
  color: var(--gray-3);
  font-size: 14px;
}

.search-device__clear-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex: none;
  background-color: white;
  padding: 12px;
  margin: -12px;
}

.search-device__clear-btn:focus {
  outline: none;
}

.quick-device-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0 0 0;
  padding: 0 20px;
}
@media (min-width: 992px) {
  .quick-device-list {
    margin: 16px 0 0 55vw;
    padding: 0 0 0 20px;
    max-width: 500px;
  }
}

.quick-device-list__item {
  font-weight: 700;
  background-color: var(--black);
  border-radius: 100px;
  text-align: center;
}

.quick-device-list__item-iphone {
  flex: 1 1 auto;
  font-size: 17px;
}
@media (min-width: 992px) {
  .quick-device-list__item-iphone {
    flex: 0 1 auto;
  }
}

.quick-device-list__item-googlepixel {
  flex: 1 1 100%;
  font-size: 17px;
  margin: 10px 0 0 0;
}
@media (min-width: 400px) {
  .quick-device-list__item-googlepixel {
    flex: 1 1 auto;
    margin: 0 0 0 10px;
  }
}
@media (min-width: 992px) {
  .quick-device-list__item-googlepixel {
    flex: 0 1 auto;
  }
}

.quick-device-list__item-other {
  flex: 1 1 100%;
  margin: 10px 0 0 0;
  font-size: 14px;
}
@media (min-width: 992px) {
  .quick-device-list__item-other {
    flex: 0 1 auto;
  }
}
@media (min-width: 1200px) {
  .quick-device-list__item-other {
    font-size: 17px;
  }
}

.quick-device-list__link {
  display: flex;
  justify-content: center;
  padding: 8px 20px;
  width: 100%;
  color: var(--white);
}
.quick-device-list__link:hover {
  color: var(--white);
}
.quick-device-list__link::before {
  content: "";
  display: inline-block;
  margin: 0 5px 0 0;
  width: 18px;
  height: 18px;
  transform: translate(0, 2px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.quick-device-list__link-iphone::before {
  background-image: url("/Images/types/iphone.svg");
}

.quick-device-list__link-googlepixel::before {
  background-image: url("/Images/types/google-pixel.svg");
}

.quick-device-list__link-other {
  padding: 10px 20px;
}
.quick-device-list__link-other::before {
  display: none;
}

.hero-image {
  position: relative;
  display: flex;
  overflow: hidden;
}
.hero-image::before {
  flex-grow: 1;
  content: "";
  display: inline-block;
  width: 470px;
  height: 535px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/Images/landing-devices.png");
  transform: rotate(30deg);
}
@media (min-width: 992px) {
  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 55vw;
    margin-top: -80px;
    height: calc(100% + 80px);
  }
  .hero-image::before {
    width: 1025px;
    height: 1165px;
  }
}

.hero-image__shawdow {
  position: absolute;
  width: 100%;
  height: 250px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 0.8) 60%,
    rgba(255, 255, 255, 0) 100%
  );
}
@media (min-width: 992px) {
  .hero-image__shawdow {
    display: none;
  }
}

.oursky-product-section {
  padding: 0 20px;
  margin-top: -30px;
}
@media (min-width: 992px) {
  .oursky-product-section {
    margin: 105px 0 0 55vw;
    padding: 0 0 0 20px;
  }
}

.oursky-product-section__heading {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  margin: 0;
}
.oursky-product-section__heading::before {
  content: "";
  display: inline-block;
  margin: 0 10px 0 0;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/Images/lightbulb.svg");
}

.oursky-product-list {
  list-style: none;
  margin: 15px 0 20px 0;
  padding: 0;
}
@media (min-width: 992px) {
  .oursky-product-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -10px;
  }
}

.oursky-product {
  position: relative;
}
.oursky-product:not(:first-child) {
  margin: 10px 0 0 0;
}
.oursky-product::after {
  position: absolute;
  top: 18px;
  right: 15px;
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/Images/right-arrow.svg");
}
@media (min-width: 992px) {
  .oursky-product {
    flex: 1 1 calc(50% - 10px);
    margin: 5px 0 0 10px;
    min-width: 220px;
  }
  .oursky-product:not(:first-child) {
    margin: 5px 0 0 10px;
  }
}

.oursky-product__link {
  display: flex;
  padding: 15px;
  background: var(--white);
  border: 1px solid var(--gray-5);
  box-sizing: border-box;
  border-radius: 10px;
  color: var(--black);
}
.oursky-product__link:hover {
  color: var(--black);
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.16);
}
@media (min-width: 992px) {
  .oursky-product__link {
    height: 110px;
  }
}

.oursky-product__figure {
  display: flex;
  align-items: center;
}

.oursky-product__caption {
  margin: 0 0 0 15px;
}

.oursky-product__caption-title {
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  color: var(--gray-2);
}

.oursky-product__caption-desc {
  margin: 5px 0 0 0;
  font-size: 12px;
  color: var(--gray-2);
}
