@import url("./search.css");

.main--landing-content {
  display: flex;
  flex-direction: row;
}

.landing-content {
  position: relative;
  padding: 0;
  margin: 0;
}
@media (min-width: 992px) {
  .landing-content {
    margin: 0 50px 0 0;
    padding-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .landing-content {
    margin: 0 100px 0 0;
    padding-bottom: 115px;
  }
}

.headline {
  padding: 20px 20px 0 20px;
}
@media (min-width: 992px) {
  .headline {
    margin: 0 0 0 55vw;
    padding: 50px 0 0 20px;
  }
}

.headline__title {
  margin: 0;
  font-family: "Red Hat Display", monospace;
  font-weight: 700;
  font-size: 36px;
}
@media (min-width: 992px) {
  .headline__title {
    font-size: 48px;
  }
}

.headline__desc {
  margin: 15px 0 0 0;
  font-size: 18px;
}
@media (min-width: 992px) {
  .headline__desc {
    margin: 30px 0 0 0;
    font-size: 21px;
    line-height: 32.57px;
  }
}

#homepage-autocomplete {
  margin: 24px 20px 0 20px;
  height: 56px;
  background: var(--white);
  outline: none;
}

@media (min-width: 992px) {
  #homepage-autocomplete {
    margin: 32px 0 0 calc(55vw + 20px);
  }
}

.quick-device-list {
  margin: 24px 20px 0 20px;
  padding: 0;
  list-style: none;

  display: flex;

  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 12px;
  justify-content: stretch;
}
@media (min-width: 992px) {
  .quick-device-list {
    justify-content: normal;
    margin: 16px 0 0 calc(55vw + 20px);
  }
}

.quick-device-list__item {
  min-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 1 1 0%;
}

@media (min-width: 1460px) {
  .quick-device-list__item {
    flex: none;
  }
}

.quick-device-list__link__light-blue {
  background-color: #e5ecfc;
  color: black;
}

.quick-device-list__link__light-blue:hover {
  background-color: #ced4e2;
  color: black;
}

.quick-device-list__link__light-blue:active {
  background-color: #a0a5b0;
}

.quick-device-list__link__deep-blue {
  background-color: #0043e0;
  color: white;
}

.quick-device-list__link__deep-blue:hover {
  background-color: #0035b3;
  color: white;
}

.quick-device-list__link__deep-blue:active {
  background-color: #002e9c;
}

.quick-device-list__link {
  border-radius: 100px;
  width: 100%;
  height: 41px;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
}

.quick-device-list__all-device {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.hero-image {
  position: relative;
  display: flex;
  overflow: hidden;
}
.hero-image::before {
  flex-grow: 1;
  content: "";
  display: inline-block;
  height: 535px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/images/landing-devices.png");
  transform: rotate(30deg);
}
@media (min-width: 992px) {
  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 55vw;
    margin-top: -80px;
    height: calc(100% + 80px);
  }
  .hero-image::before {
    width: 1025px;
    height: 1165px;
  }
}

.hero-image__shawdow {
  position: absolute;
  width: 100%;
  height: 250px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 0.8) 60%,
    rgba(255, 255, 255, 0) 100%
  );
}
@media (min-width: 992px) {
  .hero-image__shawdow {
    display: none;
  }
}

.oursky-product-section {
  padding: 0 20px;
  margin-top: -30px;
}
@media (min-width: 992px) {
  .oursky-product-section {
    margin: 105px 0 0 55vw;
    padding: 0 0 0 20px;
  }
}

.oursky-product-section__heading {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  margin: 0;
}
.oursky-product-section__heading::before {
  content: "";
  display: inline-block;
  margin: 0 10px 0 0;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/images/lightbulb.svg");
}

.oursky-product-list {
  list-style: none;
  margin: 15px 0 20px 0;
  padding: 0;
}
@media (min-width: 992px) {
  .oursky-product-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -10px;
  }
}

.oursky-product {
  position: relative;
}
.oursky-product:not(:first-child) {
  margin: 10px 0 0 0;
}
.oursky-product::after {
  position: absolute;
  top: 18px;
  right: 15px;
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/images/right-arrow.svg");
}
@media (min-width: 992px) {
  .oursky-product {
    flex: 1 1 calc(50% - 10px);
    margin: 5px 0 0 10px;
    min-width: 220px;
  }
  .oursky-product:not(:first-child) {
    margin: 5px 0 0 10px;
  }
}

.oursky-product__link {
  display: flex;
  padding: 15px;
  background: var(--white);
  border: 1px solid var(--gray-5);
  box-sizing: border-box;
  border-radius: 10px;
  color: var(--black);
}
.oursky-product__link:hover {
  color: var(--black);
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.16);
}
@media (min-width: 992px) {
  .oursky-product__link {
    height: 110px;
  }
}

.oursky-product__figure {
  display: flex;
  align-items: center;
}

.oursky-product__caption {
  margin: 0 0 0 15px;
}

.oursky-product__caption-title {
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  color: var(--gray-2);
}

.oursky-product__caption-desc {
  margin: 5px 0 0 0;
  font-size: 12px;
  color: var(--gray-2);
}
