main {
  background: #f0f0f0;
}

.mockup-content {
  padding: 0 0 40px 0;
}
@media (min-width: 992px) {
  .mockup-content {
    display: flex;
    justify-content: center;
    margin: 0 100px;
  }
}
@media (min-width: 1200px) {
  .mockup-content {
    display: flex;
    margin: 0 200px;
  }
}

@media (min-width: 992px) {
  .mockup-lg-left {
    flex: 1 1 auto;
    max-width: 800px;
  }
}

@media (min-width: 992px) {
  .mockup-lg-right {
    margin: 100px 0 0 20px;
    max-width: 450px;
  }
}

.device-header {
  padding: 20px 0 0 20px;
}

.device-header__name {
  font-weight: 700;
  font-size: 24px;
  color: var(--black);
}

.device-header__desc {
  font-size: 18px;
  color: var(--gray-1);
}

.upload {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 20;
}
.drop-zone-overlay {
  background-color: rgba(0, 67, 224, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none; /* default hide */
}

.drop-zone-overlay__show {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
  font-weight: 700;
  line-height: 62px;
}

.drop-zone-overlay__show * {
  pointer-events: none;
}

.device {
  position: relative;
  padding-top: 100%;
  width: 100%;
  border: 1px solid var(--gray-5);
  box-sizing: border-box;
  background-color: white;
}

.upload__inner-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 15px;
  padding: 10px 20px;
}

.upload__device-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.upload-guide {
  background-color: rgba(0, 67, 224, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 12px 0 0 0;
  padding: 24px 12px;
  color: rgba(0, 67, 224, 1);
  text-align: center;
  border: 2px dashed rgba(0, 67, 224, 1);
  border-radius: 20px;
  box-sizing: border-box;
}

.upload-guide__title {
  font-weight: 700;
  font-size: 14px;
  margin: 8px 0 0 0;
}

.upload-guide__hint {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: #a4a4a4;
  margin: 20px 0px 20px 0px;
}

.upload-guide__browse-btn {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 67, 224, 1);
  text-decoration: underline;
  margin: 8px 0 0 0;
}
.upload-guide__browse-btn:hover {
  cursor: pointer;
}

.upload-guide__file-input {
  display: none;
}

.uploading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  color: var(--white);
  text-align: center;
}
.uploading__spinner::before {
  content: "";
  display: block;
  width: 90px;
  height: 90px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/Images/spinner-white.png");
  animation: spin 1s linear infinite;
}

.uploading__text {
  margin: 35px 0 0 0;
  font-weight: 700;
  font-size: 18px;
}
@media (min-width: 992px) {
  .uploading__text {
    font-size: 24px;
  }
}

.file-uploaded {
  margin: 20px 20px 0 20px;
  padding: 20px 20px 20px 20px;
  background: var(--white);
  border: 1px solid var(--gray-5);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}
@media (min-width: 992px) {
  .file-uploaded {
    margin: 0 0 20px 0;
    width: 335px;
  }
}

.file-uploaded__heading {
  display: flex;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  align-items: center;
}

.file-uploaded__heading::before {
  content: "";
  display: block;
  width: 16px;
  height: 13px;
  margin: 0 10px 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/Images/upload-icon.svg");
}

.file-list {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0;
}

.file-list::after {
  content: "";
  display: block;
  margin: 0px -20px 0 -20px;
  width: calc(100% + 40px);
  border-bottom: 1px solid var(--gray-5);
}

.file-list-item:first-child {
  margin-top: 20px;
}
.file-list-item:last-child {
  margin-bottom: 20px;
}

.file-list-item {
  margin: 8px 0 0 0;
  border: 1px solid var(--gray-5);
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.file-list-item__filename {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 21px;
}

.file-list-item__filename-content {
  flex-grow: 1;
}

.file-list-item__cross {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/Images/cross-gray.svg");
  background-color: white;
  margin-right: 2px;
  cursor: pointer;
  flex: none;
}

.file-list-item__cross:hover {
  background-color: var(--gray-5);
}

.file-list-item__cross:active {
  background-color: var(--gray-4);
}

.file-list-item .file-list-item__filename::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 8px 0 0;
  flex: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.file-list-item--done .file-list-item__filename::before {
  background-image: url("/Images/upload-done.svg");
}
.file-list-item--warning .file-list-item__filename::before {
  background-image: url("/Images/upload-warning.svg");
}
.file-list-item--error .file-list-item__filename::before {
  background-image: url("/Images/upload-error.svg");
}

.file-list-item__hint {
  margin: 5px 0 0 0;
  font-size: 12px;
  color: var(--gray-3);
}

.file-list-item__progress-bar-border {
  display: none;
  margin: 5px 0 0 0;
  width: 100%;
  height: 6px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  overflow: hidden;
}
.file-list-item--progress .file-list-item__progress-bar-border {
  display: block;
}

.file-list-item__progress-bar-fill {
  width: 0;
  height: 100%;
  background: var(--green-3);
  transition: width 1s ease-in-out;
}
.file-list-item__progress-bar-fill--30 {
  width: 30%;
}
.file-list-item__progress-bar-fill--60 {
  width: 60%;
}
.file-list-item__progress-bar-fill--90 {
  width: 90%;
}
.file-list-item__progress-bar-fill--100 {
  width: 100%;
}

.color-section {
  margin: 20px 0 0 0;
}
.color-section::after {
  content: "";
  display: block;
  margin: 0px -20px 0 -20px;
  width: calc(100% + 40px);
  border-bottom: 1px solid var(--gray-5);
}

.color-section__heading {
  display: flex;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  align-items: center;
}

.color-section__description {
  margin: 12px 0 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.color-section__heading::before {
  content: "";
  display: block;
  width: 9px;
  height: 13px;
  margin: 0 12px 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/Images/droplet.svg");
}

.color-picker {
  list-style: none;
  display: flex;
  padding: 0;
  align-items: center;
  margin: 12px 0 20px 0;
}

.color-picker-item {
  width: 30px;
  height: 30px;
  border: 3px white solid;
  display: inline-block;
  border-radius: 9999px;
  box-sizing: content-box;
  background-clip: content-box;
  padding: 3px;
}

.color-picker-item:hover {
  background-color: #f3f2ed;
  border: 3px #e4e4e4 solid;
}

.color-picker-item--selected:hover {
  border: 3px #0043e0 solid;
}

.color-picker-item--selected {
  width: 30px;
  height: 30px;
  border: 3px #0043e0 solid;
  display: inline-block;
  border-radius: 9999px;
  box-sizing: content-box;
  background-clip: content-box;
  padding: 3px;
}

.color-picker-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-picker-item-container:not(:first-child) {
  margin-left: 18px;
}

.generate-btn {
  margin: 20px 0 0 0;
  padding: 8px 50px;
  width: 100%;
  background: var(--black);
  border-radius: 100px;
  font-weight: 700;
  font-size: 14px;
  line-height: 155.1%;
  text-align: center;
  color: var(--white);
}
.generate-btn:disabled {
  background: var(--gray-4);
}
.generate-btn:not(:disabled):hover {
  cursor: pointer;
}

.device-info {
  margin: 20px 20px 0 20px;
  padding: 20px;
  background: var(--white);
  border: 1px solid var(--gray-5);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}
@media (min-width: 992px) {
  .device-info {
    margin: 0;
  }
}

.device-support::after {
  content: "";
  display: block;
  margin: 20px -20px 0 -20px;
  width: calc(100% + 40px);
  border-bottom: 1px solid var(--gray-5);
}

.device-support__heading {
  display: flex;
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}
.device-support__heading::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 10px 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/Images/device-support.svg");
}

.device-support__orientation-list {
  list-style: none;
  display: flex;
  margin: 15px 0 0 0;
  padding: 0;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.device-support__orientation-list::-webkit-scrollbar {
  display: none;
}
@media (min-width: 992px) {
  .device-support__orientation-list {
    flex-wrap: wrap;
    margin: 5px 0 0 -10px;
  }
}

.device-support__orientation-image {
  width: 90px;
  height: 90px;
  padding: 10px;
  object-fit: contain;
  background: var(--white);
}
.device-support__orientation-image:not(:first-child) {
  margin: 0 0 0 10px;
}
@media (min-width: 992px) {
  .device-support__orientation-image {
    margin: 10px 0 0 10px;
  }
  .device-support__orientation-image:not(:first-child) {
    margin: 10px 0 0 10px;
  }
}

.device-credits {
  padding: 20px 0 0 0;
}

.device-credits__heading {
  display: flex;
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}
.device-credits__heading::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 10px 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/Images/device-credits.svg");
}

.device-credits__desc p {
  margin: 10px 0 0 0;
}

.device-credits__desc a {
  font-size: 14px;
  text-decoration-line: underline;
  color: var(--black);
}

.request-device-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 20px 0 20px;
  height: 295px;
  background: var(--white);
  border: 1px solid var(--gray-5);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}
@media (min-width: 992px) {
  .request-device-section {
    margin: 20px 0 0 0;
  }
}

.request-device-section__image {
  display: block;
  width: 190px;
  height: auto;
}

.request-device-section__desc {
  margin: 20px 0 0 0;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: var(--black);
}

.request-device-section__request-link {
  display: block;
  margin: 10px 0 0 0;
}

.request-device-section__request-btn {
  display: block;
  padding: 8px 14px;
  text-align: center;
  border-radius: 100px;
  background: var(--black);
  color: var(--white);
  font-weight: bold;
  font-size: 14px;
}
.request-device-section__request-btn:hover {
  cursor: pointer;
}

.generating-modal {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.generating-modal__overlay {
  height: 100%;
  width: 100%;
  background-color: var(--black);
  opacity: 0.6;
}

.generating-modal-dialog {
  position: fixed;
  top: calc(50vh - 145px);
  left: calc(50vw - 145px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 290px;
  height: 290px;
  background-color: var(--white);
  border-radius: 10px;
}

.generating-modal__spinner::before {
  content: "";
  display: block;
  width: 90px;
  height: 90px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/Images/spinner-blue.png");
  animation: spin 1s linear infinite;
}

.generating-modal-dialog__text {
  margin: 35px 0 0 0;
  color: var(--gray-1);
  font-weight: 700;
  font-size: 24px;
}

.generating-modal-dialog__cancel-btn {
  margin: 20px 0 0 0;
  padding: 8px 100px;
  background: var(--white);
  border: 1px solid var(--black);
  box-sizing: border-box;
  border-radius: 100px;
  font-weight: 700;
  font-size: 14px;
  color: var(--black);
}
.generating-modal-dialog__cancel-btn:hover {
  cursor: pointer;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
