---
import "/src/styles/home.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <meta
    slot="meta"
    name="description"
    content="MockUPhone is a free tool that helps you wrap app screenshots in different mobile devices. Support iPhone mockup, iPad mockup, Android mockup and TV mockup."
  />
  <div class="static-page static-text-page">
    <h1 class="title">About MockUPhone</h1>
    <div class="content row-fluid">
      <div class="span10">
        <p>
          MockUPhone is a free tool that helps developers, designers, project
          managers and consultants wrap app screenshots in different mobile
          devices. Developers and designer can use the provided PNG files to
          make mobile screenshots and mockups for mobile application websites or
          advertisements. While project managers and consultants can embed the
          screenshots in keynote for their client projects. MockUPhone right now
          supports iPhone mockup, iPad mockup, Android mockup and TV mockup.
        </p>
        <h3>About the creator</h3>
        <p>
          MockUPhone.com is developed by <a href="http://oursky.com/">Oursky</a
          >, and open sourced at <a
            href="https://github.com/oursky/mockuphone.com"
          >
            https://github.com/oursky/mockuphone.com</a
          >. We're a team of 70+, create apps, design and custom software for
          our clients, from Apple App of the Years startups to NASDAQ listed
          companies. Feel free to send us an <a
            href="https://www.oursky.com/findus">enquiry</a
          > and discuss your big ideas with us.
        </p>
      </div>
    </div>
  </div>
</BaseLayout>
