---
import "/src/styles/home.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <meta
    slot="meta"
    name="description"
    content="MockUPhone is a free tool that helps you wrap app screenshots in different mobile devices. Support iPhone mockup, iPad mockup, Android mockup and TV mockup."
  />
  <div class="static-page static-text-page">
    <h1 class="title">About MockUPhone</h1>
    <div class="content row-fluid">
      <div class="span10">
        <p>
          MockUPhone is a free tool that helps developers, designers, project
          managers and consultants wrap app screenshots in different mobile
          devices. Developers and designer can use the provided PNG files to
          make mobile screenshots and mockups for mobile application websites or
          advertisements. While project managers and consultants can embed the
          screenshots in keynote for their client projects. MockUPhone right now
          supports iPhone mockup, iPad mockup, Android mockup and TV mockup.
        </p>
        <h3>About the creator</h3>
        <p>
          MockUPhone.com is developed by
          <a
            href="https://www.skymakers.digital/?utm_medium=web&utm_source=mockuphone"
            target="_blank">Skymakers</a
          > and is open-sourced at <a
            href="https://github.com/oursky/mockuphone.com?utm_medium=web&utm_source=mockuphone"
            target="_blank">https://github.com/oursky/mockuphone.com</a
          >. We are a team of 70+ professionals dedicated to creating apps,
          designing, and providing custom software solutions for our clients,
          ranging from award-winning startups to NASDAQ-listed companies. At
          Skymakers, we offer innovative products like
          <a
            href="https://www.authgear.com/?utm_medium=web&utm_source=mockuphone"
            target="_blank">Authgear</a
          >, which provides simple and scalable authentication solutions, and
          <a
            href="http://formx.ai/?utm_medium=web&utm_source=mockuphone"
            target="_blank">FormX.ai</a
          >, designed to automate data extraction and eliminate manual work. Our
          expertise in software development ensures that we deliver exceptional
          value to our clients. Feel free to send us an <a
            href="https://www.oursky.com/findus/?utm_medium=web&utm_source=mockuphone"
            target="_blank">enquiry</a
          > and discuss your big ideas with us!
        </p>
      </div>
    </div>
  </div>
</BaseLayout>
