---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <meta
    slot="meta"
    name="description"
    content="MockuPhone, ShotBot and MakeAppIcon are Oursky Developer Series. It speeds up the process of app development for developers, designers and project managers."
  />
  <div class="static-page static-text-page">
    <h1 class="title">Oursky Developer Suite</h1>
    <div class="content row-fluid">
      <div class="span10">
        <p>
          <a href="http://makeappicon.com">
            <img src="/Images/makeappicon-logo.png" />
          </a>
        </p>
        <p>
          <a href="http://makeappicon.com">MakeAppIcon</a> is an icon creator
          that resizes all iOS icons and Android icons required by App Store and
          Google Play. With our icon resizer, you can import app icons to
          Android Studio and Xcode in 3s.
        </p>
        <p>Support iOS icons:</p>
        <ul>
          <li>iPhone app icons</li>
          <li>iPad app icons</li>
          <li>iMessage Sticker app icons</li>
          <li>WatchOS icons</li>
        </ul>
        <p>Support Android icons:</p>
        <ul>
          <li>Play Store icon</li>
          <li>ldpi</li>
          <li>mdpi</li>
          <li>hdpi</li>
          <li>xhdpi</li>
          <li>xxhdpi</li>
          <li>xxxhdpi</li>
        </ul>
      </div>
    </div>
  </div>
</BaseLayout>
