/* This file is to override styles in https://cdn.jsdelivr.net/npm/@algolia/autocomplete-theme-classic */
.aa-ClearButton:focus {
  outline: none;
}

.aa-InputWrapperPrefix,
.aa-Label,
.aa-SubmitButton,
.aa-InputWrapper,
.aa-Autocomplete,
.aa-Form,
.aa-Input,
.aa-InputWrapperSuffix,
.aa-ClearButton {
  height: 100%;
}

.aa-SubmitIcon {
  display: none;
}

.aa-SubmitButton {
  background-image: url("/images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 47px;
  margin: 0 0 0 6px;
}

.aa-Form {
  border-radius: 9px;
  border: 1px solid var(--gray-5);
}

.aa-Form:focus-within {
  outline: none;
  border: 1px solid var(--gray-5);
  box-shadow: none;
}

.aa-SubmitButton:focus {
  background-image: url("/images/search-dark.svg");
  outline: none;
}

.aa-Label {
  margin: 0;
}

.aa-ItemWrapper {
  height: 100%;
}

.aa-Panel {
  z-index: 100;
}

/* Mobile */

.aa-DetachedFormContainer {
  padding: 16px 20px;
}

.aa-DetachedSearchButton {
  height: 100%;
  border-radius: 9px;
  border: 1px solid var(--gray-5);
  padding: 0;
}

.aa-DetachedSearchButtonIcon {
  background-image: url("/images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 47px;
  margin: 0 0 0 6px;
  padding: 0;
}

.aa-DetachedSearchButton:active {
  background-color: #f9f9f9;
}

.aa-DetachedSearchButton:focus {
  outline: none;
  border: 1px solid var(--gray-5);
  box-shadow: none;
  background-color: #e5e5e5;
}

@media (width <= 680px) {
  .aa-SubmitButton,
  .aa-Label,
  .aa-InputWrapperPrefix {
    display: none;
  }

  .aa-DetachedFormContainer > .aa-DetachedCancelButton {
    display: none;
  }

  .aa-Form > .aa-DetachedCancelButton {
    height: 100%;
    background-image: url("/images/arrow-back.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: -4px 14px 4px 10px;
    width: 50px;
  }

  .aa-Form > .aa-DetachedCancelButton:hover {
    border: none;
    outline: none;
  }

  .aa-Form > .aa-DetachedCancelButton:active {
    outline: none;
    background-color: #e0e0e0;
  }

  .aa-Form {
    overflow: hidden;
    height: 50px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
  }

  .cancelButton {
    height: 100%;
  }

  .aa-InputWrapperSuffix {
    width: 48px;
  }
}

/* header variant styles */

#device-list__header__autocomplete {
  max-width: 38%; /* 543 / 1440 */
  flex: 1 1 0%;
  margin: 0;
  height: 56px;
  background: var(--white);
}

@media (width >= 992px) {
  #device-list__header__autocomplete {
    margin: 0 0 0 144px; /* to prevent search bar overlapping with mockuphone logo */
  }
}

@media (width >= 1300px) {
  #device-list__header__autocomplete {
    margin: 0;
  }
}

.search-device {
  display: flex;
  padding: 40px 20px 0;
}

@media (width >= 992px) {
  .search-device {
    display: none;
  }
}

#device-list__page__autocomplete {
  flex: 1 1 0%;
  margin: 0;
  height: 56px;
  background: var(--white);
}
